<table class="dataframe wta-style">
  <thead>
    <tr style="text-align: center;">
      <th>Rank</th>
      <th>Giocatrice</th>
      <th>Paese</th>
      <th>Punti Totali</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Aryna Sabalenka</td>
      <td>BLR</td>
      <td>10990</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Iga ÅwiÄtek</td>
      <td>POL</td>
      <td>7978</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Elena Rybakina</td>
      <td>KAZ</td>
      <td>7523</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Amanda Anisimova</td>
      <td>USA</td>
      <td>6680</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Coco Gauff</td>
      <td>USA</td>
      <td>6423</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Jessica Pegula</td>
      <td>USA</td>
      <td>6103</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Mirra Andreeva</td>
      <td>RUS</td>
      <td>4731</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Jasmine Paolini</td>
      <td>ITA</td>
      <td>4267</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Elina Svitolina</td>
      <td>UKR</td>
      <td>3205</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Ekaterina Alexandrova</td>
      <td>RUS</td>
      <td>2983</td>
    </tr>
  </tbody>
</table>